/backend/Storage/
/backend/.env
/backend/.venv/
/backend/data.db
__pycache__/
*.pyc
*.pyo
*.pyd
frontend/node_modules/
frontend/node_modules/.cache/
frontend/dist/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
/node_modules/.cache/prettier/.prettier-caches/06c8cc5b2b67205f3a17223764fbccf5a1a4e271.json
/backend/app/static/branding/
/backend/.install_state.json
/backend/.installed
/data.db
/backend/.data.db
